/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-align: center;
}

header {
    background-color: #ff6600;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Cardápio */
#menu {
    /*matriz de 3 colunas*/
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    padding: 20px;
    display: grid;
    gap: 20px;
}

.item {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #e65c00;
}

/* Carrinho Lateral */
#carrinho-aba {
    position: fixed;
    top: 0;
    right: -550px; /* Inicialmente fechado */
    width: 350px;
    height: 100%;
    background-color: #fff;
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: right 0.4s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
    border: none; /* Remover borda */
}

#carrinho-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#carrinho-header h2 {
    margin: 0;
}

#fechar-carrinho {
    background: none;
    border: none;
    max-width: fit-content;
    font-size: 30px;
    cursor: pointer;
    color: #ff6600;
}

#itens-carrinho {
    list-style: none;
    padding: 0;
    margin: 0;
}

#itens-carrinho li {
    margin-bottom: 10px;
}

#total {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

#contador-itens {
    font-weight: bold;
    color: #ff6600;
}

#carrinho-aba button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

#carrinho-aba button:hover {
    background-color: #e65c00;
}

/* Responsividade */
@media (max-width: 600px) {
    #menu {
        grid-template-columns: 1fr;
    }

    #carrinho-aba {
        width: 100%;
        right: -100%; /* Inicialmente fechado */
    }
}
